html,
body,
*{
    padding: 1%;
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 1.5rem;;
    background-color:lightgreen;
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
}
 
h1{
    font-size: 2rem;
}

.gallery{
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 1px solid black;
    border-radius: 1em;
    flex: 2;
    margin: 1rem;
    width: 26%;
    box-shadow: 5px 5px 5px black;
    background-color:floralwhite;
    align-items: center;
}

.cactus-img{
    height: 12rem;
    width: auto;
    background-color: floralwhite;
}

.cactus-header{
    background-color: floralwhite;
}