html,
body,
*{
    padding: 1%;
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 1.5rem;;
    background-color:lightgreen;
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
}
 
h1{
    font-size: 2rem; 
    margin-left: 25%;
    margin-right: 25%;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        background: #ee90ee;
        color: #e3fae3;
    }
    50% {
        background-color: #e3fae3;
        color: #ee90ee;
    }
    100% {
        background-color: #ee90ee;
        color: #e3fae3;
    }
}

.gallery{
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem;
}

.box{
    border: 2px solid black;
    border-radius: 1em;
    flex: auto;
    flex-grow: 1;
    margin: 1rem;
    width: 26%;
    box-shadow: 5px 5px 5px black;
    background-color:floralwhite;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.cactus-img{
    height: auto;
    width: 15rem;
    background-color: floralwhite;
}

.cactus-header{
    background-color: floralwhite;
}

.box1:hover{
    background-color: khaki; 
    border: rgb(238, 225, 109);
}

.box2:hover{
    transform: rotate(20deg);
}

.box3:hover{
    text-shadow: 0px 0px 5px #ee90ee;
    box-shadow: 0px 5px 2.5rem #ee90ee;
}

.box4:hover{
    transform: skew(-10deg);
    box-shadow: inset 5px 5px;
}

.box5:hover{
    border:rgb(255, 85, 255) 3px dotted;
    color: rgb(255, 85, 255);
    box-shadow: 5px 5px 5px rgb(255, 85, 255);
}

.box6:hover{
    transform: skew(10deg);
    box-shadow: inset 5px 5px;
}

.box7:hover{
    text-shadow: 0px 0px 5px khaki;
    box-shadow: 0px 5px 2.5rem khaki;
}

.box8:hover{
    transform: rotate(-20deg);
}

.box9:hover{
    background-color:#f8b8f8; 
    border: #ee90ee;
}

.gallery:hover .box:not(:hover){
    transform: scale(0.8);
    opacity: 0.3;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    *,body{
        background-color: lightskyblue;
        transition: 1s;
    }
    .box{
        flex-direction: column;
        width: 75%;
    }
}

@media only screen and (device-width: 414px) and (device-height: 896px){
    *,body{
        background-color:lightpink;
        transition: 1s;
    }
    .box{
        flex-direction: column;
        overflow-y: auto;
        align-items: center;
        width: 75%;
    }
}